## Deliverable 2. Create a Customer Travel Destinations Map.

In [24]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [25]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Gobabis,NaN,-22.4500,18.9667,65.88,28,4,10.71,clear sky
1,1,Ushuaia,AR,-54.8000,-68.3000,40.66,60,40,9.22,scattered clouds
2,2,San Patricio,US,28.0170,-97.5169,76.84,76,19,8.97,few clouds
3,3,Banjarmasin,ID,-3.3244,114.5910,88.72,62,88,0.94,overcast clouds
4,4,Tiksi,RU,71.6872,128.8694,-9.13,96,100,8.57,overcast clouds

In [27]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 40
What is the maximum temperature you would like for your trip? 100

In [28]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Gobabis,NaN,-22.4500,18.9667,65.88,28,4,10.71,clear sky
1,1,Ushuaia,AR,-54.8000,-68.3000,40.66,60,40,9.22,scattered clouds
2,2,San Patricio,US,28.0170,-97.5169,76.84,76,19,8.97,few clouds
3,3,Banjarmasin,ID,-3.3244,114.5910,88.72,62,88,0.94,overcast clouds
5,5,Kayes,ML,14.0000,-11.0000,73.20,16,0,1.41,clear sky
7,7,Cidreira,BR,-30.1811,-50.2056,62.76,87,2,3.56,clear sky
8,8,Hasaki,JP,35.7333,140.8333,72.28,50,24,17.58,few clouds
9,9,Bambous Virieux,MU,-20.3428,57.7575,75.22,68,8,9.57,clear sky
10,10,Fairhope,US,30.5230,-87.9033,65.68,67,0,6.91,clear sky
11,11,Vega De Alatorre,MX,20.0333,-96.6333,75.36,81,0,2.95,clear sky

In [29]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                523
City                   523
Country                516
Lat                    523
Lng                    523
Max Temp               523
Humidity               523
Cloudiness             523
Wind Speed             523
Current Description    523
dtype: int64

In [30]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Ushuaia,AR,-54.8000,-68.3000,40.66,60,40,9.22,scattered clouds
2,2,San Patricio,US,28.0170,-97.5169,76.84,76,19,8.97,few clouds
3,3,Banjarmasin,ID,-3.3244,114.5910,88.72,62,88,0.94,overcast clouds
5,5,Kayes,ML,14.0000,-11.0000,73.20,16,0,1.41,clear sky
7,7,Cidreira,BR,-30.1811,-50.2056,62.76,87,2,3.56,clear sky
...,...,...,...,...,...,...,...,...,...,...
683,683,Patu,BR,-6.1100,-37.6367,78.67,64,100,2.62,overcast clouds
684,684,Bogo,PH,11.0517,124.0055,84.15,72,95,8.75,light rain
685,685,Linxia,CN,35.6003,103.2064,53.62,58,22,4.72,few clouds
686,686,Ekpoma,NG,6.7421,6.1390,68.79,95,86,2.98,overcast clouds
687,687,Boo,SE,59.3333,18.2833,48.11,98,75,4.61,broken clouds

In [31]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Ushuaia,AR,40.66,scattered clouds,-54.8000,-68.3000,
2,San Patricio,US,76.84,few clouds,28.0170,-97.5169,
3,Banjarmasin,ID,88.72,overcast clouds,-3.3244,114.5910,
5,Kayes,ML,73.20,clear sky,14.0000,-11.0000,
7,Cidreira,BR,62.76,clear sky,-30.1811,-50.2056,
8,Hasaki,JP,72.28,few clouds,35.7333,140.8333,
9,Bambous Virieux,MU,75.22,clear sky,-20.3428,57.7575,
10,Fairhope,US,65.68,clear sky,30.5230,-87.9033,
11,Vega De Alatorre,MX,75.36,clear sky,20.0333,-96.6333,
12,Bathsheba,BB,79.41,few clouds,13.2167,-59.5167,

In [32]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"


    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [42]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Ushuaia,AR,40.66,scattered clouds,-54.8000,-68.3000,Albatross Hotel
2,San Patricio,US,76.84,few clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
3,Banjarmasin,ID,88.72,overcast clouds,-3.3244,114.5910,Swiss-Belhotel Borneo Banjarmasin
5,Kayes,ML,73.20,clear sky,14.0000,-11.0000,
7,Cidreira,BR,62.76,clear sky,-30.1811,-50.2056,Hotel Castelo
...,...,...,...,...,...,...,...
683,Patu,BR,78.67,overcast clouds,-6.1100,-37.6367,Pousada Cidade do Sol
684,Bogo,PH,84.15,light rain,11.0517,124.0055,Acrige Apartelle
685,Linxia,CN,53.62,few clouds,35.6003,103.2064,GreenTree Inn Linxia Autonomous Prefecture Lin...
686,Ekpoma,NG,68.79,overcast clouds,6.7421,6.1390,Jennifer
687,Boo,SE,48.11,broken clouds,59.3333,18.2833,Yasuragi

In [34]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [35]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [43]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))